<!DOCTYPE html>
<html>
<%- include('./head') %>

    <body>
        <div class="wrapper">
            <div class="container">
                <%- include('./header') %>

                    <div class="content">
                        <!-- This is where body content would be injected if we used this as a wrapper -->
                        <%- body %>
                    </div>

                    <%- include('./footer') %>
            </div>
        </div>
    </body>

</html>