<div class="footer">
    <p>&copy; <%= new Date().getFullYear() %> Abidi Pro. All rights reserved.</p>
    <p>
        You are receiving this email because you are a registered user of Abidi Pro.
        <br>
        <a href="<%= process.env.FRONTEND_URL %>/contact">Contact Support</a>
    </p>
</div>